<h3><%= @bicycle.model %></h3>

<div>
  <p><%= @bicycle.manufacturer %> </p>
  <p><%= @bicycle.model_year %> </p>
  <p><%= @bicycle.serial_number %> </p>

</div>

<%= link_to "Create a new repair ticket" %></br>

<%= link_to "Get the repair history for this bike" %></br>

<%= link_to "Return to your complete inventory", bicycles_path %></br>
