<h3><%= @bicycle.model %></h3>

<div>
  <p><%= @bicycle.manufacturer %> </p>
  <p><%= @bicycle.model_year %> </p>
  <p><%= @bicycle.serial_number %> </p>

</div>

<%= link_to "Create a new repair ticket", new_bicycle_repair_path(@bicycle) %></br>

<%= link_to "Get the repair history for this bike", bicycle_repairs_path(@bicycle) %></br>

<%= link_to "Return to your bike locker", bicycles_path %></br>
